*, :after, :before {
  box-sizing: border-box;
  border: 0 solid var(--color-border)
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  height: 100%;
}

body {
  font-family: var(--font), 'Source Code Pro', monospace;
  display: flex;
  justify-content: center;
  background: var(--color-background);
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1920px;
  /*
    position: relative;
    flex-direction: column;*/
  min-height: 100vh;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

header {
  // width: 80%?
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  background: var(--color-background-header);
  -webkit-backdrop-filter: blur(5px);
  width: 100vw;
  padding: 0px calc(15vw - 40px);
  border-bottom-width: 1px;
  @media (min-width: $md_width) {
    padding: 0 calc(5vw - 10px)
  }
}

main {
  padding: 100px 12vw;
  @media (min-width: $md_width) {
    padding: 140px 12vw;
  }
}


a {
  color: inherit;
  text-decoration: inherit
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

menu, ol, ul {
  list-style: none;
  margin: 0;
  padding: 0
}

[role=button], button {
  cursor: pointer
}

audio, canvas, embed, iframe, img, object, svg, video {
  display: block;
  vertical-align: middle
}

[hidden] {
  display: none
}
