html {
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
  font-feature-settings: normal;
  font-variation-settings: normal;
  height: 100%;
}

body {
  font-family: var(--font), 'Source Code Pro', monospace;
  display: flex;
  justify-content: center;
  background: var(--color-background);
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1920px;
  /*
    position: relative;
    flex-direction: column;*/
  min-height: 100vh;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: fadein 3s;
  -moz-animation: fadein 3s; /* Firefox */
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  -o-animation: fadein 3s; /* Opera */
}

header {
  // width: 80%?
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  background: transparent;
  -webkit-backdrop-filter: blur(5px);
  padding: 15px calc(15vw - 30px);
  //30px for laptop L; laptop
  //align-items: center;
  //justify-content: center;
}

main {
  padding: 140px 12vw;
}