.button {
  background-color: var(--color-button);
  color: var(--color-button-text);
  display: inline-flex;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--color-button);
  border-radius: 1.5rem;
  font-size: 0.9rem;
  align-items: center;
  user-select: none;
  &_back {
    color: var(--color-button-text);
    outline: none;
    border: none;
    appearance: none;
    background-color: var(--color-button);
    font-size: 1rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-bottom: 1.33rem;
    border-radius: 1.5rem;
  }
  &:hover,  &:focus {
    background-color: var(--color-button-hover);
    color: var(--color-button-text);
    border: 1px solid var(--color-button-hover);
  }
  &_translucent {
    background-color: var(--color-button-translucent);
    color: var(--color-button-text);
  }
  &_red{
    background-color: var(--color-red-button-translucent);
    color: var(--color-red-button-text);
    border: 1px solid var(--color-red-button);
    &:hover,  &:focus {
      background-color: var(--color-red-button-hover);
      color: var(--color-red-button-text);
      border: 1px solid var(--color-red-button-hover);
    }
  }
}