@charset "UTF-8";

/* Light colors */
$light-background: #eaeaea;
$light-background-color: #6893A6;
$light-background-secondary: #fafafa;
$light-background-header: #fafafa;
$light-color: #222;
$light-color-variant: black;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;
$light-table-color: #dcdcdc;
$light-footer-color: #52525BFF;
$light-shadow-color: #3B82F67F;
$light-body-shadow: 0px 10px 10px 10px $light-shadow-color;
$light-svg-title: #3f5787;
$light-menu-background: #FFFFFFE5;
$light-menu-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px 3px rgba(0, 0, 0, 0.06); //0 0 #0000, 0 0 #0000, 0 10px 15px -3px rgba(39, 39, 42, .05), 0 4px 6px -4px rgba(39, 39, 42, .05);
$light-menu-text: #27272AFF;
$light-title-shadow: 6px 6px 4px rgba(59, 130, 246, .5);

/* Dark theme colors */
$dark-background: #000000;
//$dark-background-secondary: #18181BFF;
$dark-background-secondary: rgba(18, 34, 61, 0.4);
$dark-background-header: #1b1c1d;
$dark-color: #a9a9b3;
$dark-color-variant: white;
$dark-color-secondary: #b3b3bd;
$dark-border-color: #4e4e57;
$dark-table-color: #4e4e57;
$dark-footer-color: #A1A1AAFF;
$dark-button-color: #2563eb;
$dark-button-text: #93c5fd;
$dark-shadow-color: #3B82F633;
$dark-body-shadow: 0px 10px 10px 10px $dark-shadow-color;
$dark-svg-title: #ffffff;
$dark-menu-background: #27272AE5;
$dark-menu-shadow: 0 0 0 0 #fff, 0 0 0 1px hsla(0, 0%, 100%, .1), 0 0 #0000;//0 0 #0000, rgba(39, 39, 42, .05), 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(39, 39, 42, .05);
$dark-menu-text: #E4E4E7FF;
$dark-title-shadow: 6px 6px 4px rgba(147, 197, 253, .1);

/* Heart color */
$dark-text-tomato-color: #280902;
$dark-tomato-color: #801902;
$tomato-color: #ec2d01;
$tomato-color-pale: #efad9e;

/* Mono Theme */
$background-gray: #232425;

/* Gray Palette */
$gray-0: #fff;
$gray-50: #f7f7f7;
$gray-100: #f5f5f5;
$gray-150: #ededed;
$gray-200: #e5e5e5;
$gray-250: #dddddd;
$gray-300: #d4d4d4;
$gray-350: #bcbcbc;
$gray-400: #a3a3a3;
$gray-450: #8b8b8b;
$gray-500: #737373;
$gray-550: #636363;
$gray-600: #525252;
$gray-650: #494949;
$gray-700: #404040;
$gray-750: #333333;
$gray-800: #262626;
$gray-850: #1f1f1f;
$gray-900: #171717;
$gray-1000: #000;

/* Cerulean Palette */
$cerulean-pale: #8394d2;
$cerulean-300: #4a72e8;
$cerulean-350: #426ae0;
$cerulean-400: #3a62ce;
$cerulean-450: #325ac6;
$cerulean-500: #2a52be;

.color {
  &__tomato {
    color: $tomato-color;
  }
  &__gray_600 {
    color: #52525B;
  }
  &__gray_400 {
    color: #A1A1AA;
  }
}

html {
  --color-text: #{$gray-900};
  --color-text-secondary: #{$gray-500};
  --color-text-footer: #{$gray-500};
  --color-border: #{$gray-300};
  --color-border-collapsible-menu: #{$gray-200};
  --color-background: #{$light-background-color};
  --color-background-header: #{#FFFFFF};
  --color-background-hover: #{$gray-50};
  --color-background-overlay: #{$light-background-secondary};
  --color-background-inline-code: #{$gray-100};
  --color-background-card: #{$gray-0};
  --color-background-mark: #fff1a7;
  --color-link: #2563eb;
  --color-navbar-item-inactive: #{$gray-400};
  --color-navbar-item-active: #{$gray-900};
  --color-navbar-item-in-section: #{$gray-600};
  --color-button: #{$cerulean-500};
  --color-button-text: #{$cerulean-pale};
  --color-button-hover: #{darken($cerulean-500, 20%)};
  --color-button-translucent: #{rgba($cerulean-500, 0.15)};
  --font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --shadow-body: #{$light-body-shadow};
  --shadow-svg-title: #{drop-shadow($light-title-shadow)};
  --svg-stroke: #{$light-svg-title};
  --color-red-button-translucent: #{rgba($tomato-color, 0.15)};
  --color-red-button-text: #{$dark-text-tomato-color};
  --color-single-a-text: #{$tomato-color};
  --color-red-button: #{$tomato-color};
  --color-red-button-hover: #{darken($tomato-color, 20%)};
  --color-footer-text: #{$light-footer-color};
  --color-impressum-text: #{$light-background};
  --color-impressum-background: #{$dark-background};
  --color-menu-background: #{$light-menu-background};
  --color-menu-shadow: #{$light-menu-shadow};
  --color-menu-text: #{$light-menu-text};
}

html[class*="dark"] {
  --color-text: #{$gray-150};
  --color-text-secondary: #{$gray-450};
  --color-text-footer: #{$gray-400};
  --color-border: #{$gray-500};
  --color-border-collapsible-menu: #{$gray-550};
  --color-background: #{$dark-background};
  --color-background-header: #{$dark-background};
  --color-background-hover: #{$dark-background};
  --color-background-overlay: #{$dark-background-secondary};
  --color-background-inline-code: #{$gray-600};
  --color-background-card: rgba(75, 89, 114, 0.5);
  --color-background-mark: #fff1a7;
  --color-link: #93c5fd;
  --color-navbar-item-inactive: #{$gray-400};
  --color-navbar-item-active: #{$gray-100};
  --color-navbar-item-in-section: #{$gray-250};
  --color-button: #{$dark-button-color};
  --color-button-text: #{$dark-button-text};
  --color-button-hover: #{darken($dark-button-color, 20%)};
  --color-button-translucent: #{rgba($dark-button-color, 0.15)};
  --color-red-button-text: #{$tomato-color-pale};
  --color-single-a-text: #{$tomato-color-pale};
  --color-footer-text: #{$dark-footer-color};
  --shadow-body: #{$dark-body-shadow};
  --shadow-svg-title: #{drop-shadow($dark-title-shadow)};
  --svg-stroke: #{$dark-svg-title};
  --color-impressum-text: #{$dark-background};
  --color-impressum-background: #{$light-background};
  --color-menu-background: #{$dark-menu-background};
  --color-menu-shadow: #{$dark-menu-shadow};
  --color-menu-text: #{$dark-menu-text};
}

@mixin dimmed {
  opacity: .6;
}