.footer {
  padding: 40px 20px;
  flex-grow: 0;
  font-family: $font-source-code-pro;
  color: $light-footer-color;

  [class*="dark"] & {
    color: $dark-footer-color;
  }

  &__inner {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 760px;
    max-width: 100%;

    @media (max-width: $tablet_width) {
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    padding: 0 5px;
    //color: $light-color-secondary;

    @media (max-width: $tablet_width) {
      margin-top: 10px;
    }

    & > *:not(:last-child)::after {
      content: "•";
      padding: 0 5px;

      @media (max-width: $tablet_width) {
        content: "";
        padding: 0;
      }
    }

    & > *:last-child {
      padding: 0;

      @media (max-width: $tablet_width) {
        padding: 0;
      }
    }
  }
}