.header-wrapper {
  backdrop-filter: blur(5px);
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 90vw;

  @media (min-width: $xxl_width) {
    width: 50vw;
  }

  &__logo {
    padding-right: calc(-30px + 5vw);
  }
}