.header-wrapper {
  backdrop-filter: blur(5px);
  margin-left: auto;
  margin-right: auto;
  display: flex;

  &__logo {
    padding-top: 20px;
    padding-right: calc(-30px + 5vw);
    padding-bottom: 20px;
  }
}