@mixin margin-bt {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.postcard-header {
  font-family: $font-source-code-pro;
  color: var(--color-text);
}

.postcard-layout {
  a {
    color: var(--color-text);
  }

  .postcard-item {
    padding: 1rem;
    background-color: var(--color-background-card);
    border: 2px dashed #0090d8;
    border-radius: .375rem;
    margin: 2rem 0;
    //box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.5), 6px 6px 4px rgba(59, 130, 246, .2);

    //&:hover {
    //  background-color: var(--color-background-hover);
    //}

    .postcard-title {
      @include text-base;
      @include font-medium;
      font-family: $font-source-code-pro;
      color: var(--color-text);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 1px solid #3a62ce;
      padding-bottom: 0.5rem;
      @media screen and (min-width: $xl_width) {
        @include text-3xl;
        white-space: normal;
      }
      &__end {
        color: #{$tomato-color};
        @include text-2xl;
        @include font-extrabold;
      }
    }

    .postcard-subtitle {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include text-xs;
      @include font-light;
      font-family: $font-source-code-pro;
      color: var(--color-text-secondary);
    }

    .postcard-summary {
      @include text-xs;
      color: var(--color-text-secondary);
      white-space: pre-line;
      margin: 0.5rem 0;
      @media screen and (min-width: $md_width) {
        @include text-xs;
        margin: 0.5rem 2rem;
      }
      @media screen and (min-width: $xl_width) {
        margin: 1.5rem 2rem;
        @include text-lg;
      }
    }

    .postcard-metadata {
      @include text-xs;
      color: var(--color-text);
    }
  }
}