.post {
  &__main_title {
    @include text-3xl;
    @include font-bold;
  }

  &__title {
    margin-bottom: 0;
  }

  &__tag {
    padding: 0.2rem 0.8rem;
    font-size: 0.8rem;
    margin: 0.5rem;
  }

  &__meta {
    align-items: stretch;

    &, span {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
    }
    span {
      align-items: center;
      margin-bottom: 0.5rem;
      @media screen and (min-width: $sm_width) {
        gap: 0.5rem 0;
      }
      &:last-of-type {
        @media screen and (max-width: $md_width) {
          margin-top: - 0.5 rem;
        }
      }
    }
  }
  &__date {
    margin-right: 0.5rem;
    margin-left: 0.25rem;
  }
}