.post {
  &__main_title {
    @include text-2xl;
    @include font-bold;
  }

  &__link, &__title {
    margin-bottom: 0;
  }

  &__link {
    line-height: 1;
    > a {
      display: block;
      line-height: 1.35;
    }
  }

  &s {
    margin-top: 2rem;
  }

  &__header {
    height: 50vh;
    max-height: 35rem;
    background-size: cover;
    background-position: center;
    margin-top: 4.2rem;
    @media screen and (max-width: $lg_width) {
      height: 40vh;
      margin-top: 3rem
    }
    @media screen and (max-width: $md_width) {
      height: 30vh;
    }
    & + .content {
      padding-top: 0;
    }
  }

  &__item {
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    margin-bottom: 3rem;
    border-radius: 0.5rem;
    background: var(--post-bg);
  }

  &__tag {
    padding: 0.2rem 0.8rem;
    font-size: 0.8rem;

    &s {
      display: none;

      &__toggle {
        margin-top: 0.5rem;
        margin-left: 0.5rem;
        cursor: pointer;
      }
    }
  }
  &__tag, &__share {
    margin: 0.5rem;
  }

  &__share {
    display: inline-flex;
  }

  &__meta {
    align-items: stretch;

    &, span {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
    }
    span {
      align-items: center;
      margin-bottom: 0.5rem;
      @media screen and (min-width: $sm_width) {
        gap: 0.5rem 0;
      }
      &:last-of-type {
        @media screen and (max-width: $md_width) {
          margin-top: - 0.5 rem;
        }
      }
    }
    .button {
      @media screen and (min-width: $md_width) {
        margin: 0 0.5rem;
      }
    }
  }
  &__date {
    margin-right: 0.5rem;
    margin-left: 0.25rem;
  }
  &__featured {
    display: block;
    margin: 1rem auto;
  }
  &__content {
    ul, ol {
      list-style: initial;
      padding: 0.5rem 1.25rem;
      li {
        padding-top: 0.25rem;
      }
    }
    ol {
      list-style: decimal;
    }
  }
}