.preview {
  &__header, &__footer {
    padding: 1rem
  }


  .border {
    width: 500px;

  }

  &__thumbnail {
    min-height: 7rem;
    background-color: var(--color-background-thumbnail-fill);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;


    @media screen and (min-width: $md_width) {
      //background: var(--color-background-thumbnail) no-repeat center;
      //background-size: contain;
      width: 50%;
      height: 300px;
      margin-left: 2rem;
      margin-bottom: 0.5rem;
    }
  }
  &__footer {
    &.partition {
      display: flex;
      flex-direction: column;
      @media screen and (min-width: $md_width) {
        flex-direction: row-reverse;
        align-items: center;
      }
    }
  }
}