$sm_width: 35.5rem; // 568 (Mobile)
$md_width: 48rem; // 768 (Tablet)
$tablet_width: 56rem; // 896 (Big Tablet)
$lg_width: 64rem; // 1024 (laptop)
$xl_width: 80rem; // 1280 (laptop L)
$xxl_width: 120rem; // 1920 (4K+)

$sm_main_width: 100%;
$md_main_width: 80%;
$lg_main_width: 55%;
$xl_main_width: 55%;
$xxl_main_width: 55%;