
.single-postcard {

  &__item {
    padding: 1rem;
    background-color: var(--color-background-card);
    border-radius: .375rem;
    margin: 2rem 0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

    &__title {
      @include text-xs;
      @include font-medium;
      font-family: $font-source-code-pro;
      color: var(--color-text);
      white-space: normal;
      border-bottom: 1px solid #3a62ce;
      padding-bottom: 0.5rem;
      @media screen and (min-width: $xl_width) {
        @include text-lg;
      }

      &__sub {
        @include text-xs;
        display: flex;
        justify-content: right;
      }
    }

    &__content {
      @include text-xs;
      color: var(--color-text);
      white-space: pre-line;
      margin: 0.5rem 0;
      @media screen and (min-width: $md_width) {
        @include text-sm;
        margin: 0.5rem 2rem;
      }
      @media screen and (min-width: $xl_width) {
        margin: 1.5rem 2rem;
      }

      pre {
        @include text-xs;
        overflow: scroll;
      }

      ol {
        list-style: decimal;
        padding-left: 1.5rem;
      }

      a {
        color: var(--color-single-a-text);
      }
      ul {
        list-style: circle;
        margin: 0;
        padding-left: 1.5rem;
      }
    }

    &__metadata {
      @include text-xs;
      margin-top: 0.45rem;
      color: var(--color-text);
    }
    &__flex_right {
      display: flex;
      justify-content: right;
    }
  }
}