{{ $pages := .pages }}

<div class="postcard-layout">
    {{ range ($pages).ByDate.Reverse }}
    <a href="{{ .Permalink }}">
        <div class="postcard-item">
<!--            <div class="postcard-title">-->
<!--                <span>{{ .Title }}</span>-->
<!--            </div>-->
            {{- with .Params.thumbnail }}
            <div class="preview__footer partition">
                    <figure class="preview__thumbnail"
                         style="background-image: url('{{ . | absURL}}')"
                    ></figure>
                </figure>
            {{ else }}
            <div class="preview__footer">
            {{- end }}
                <div>
                <div class="postcard-title">
                    <span>{{ .Title }}</span>
                </div>
                <div class="postcard-summary">
                    <p>{{ .Summary | plainify }}</p>
                </div>
                </div>
            </div>
            <div class="postcard-metadata">
                <span>{{ partial "metadata" . }}</span>
            </div>
        </div>
    </a>
    {{ end }}
</div>
