{{ $pages := .pages }}

<div class="postcard-layout">
    {{ range ($pages).ByDate.Reverse }}
        <article>
            <div class="postcard-item">
                {{- with .Params.thumbnail }}
                <div class="preview__footer partition">
                    <figure class="preview__thumbnail"
                            style="background-image: url('{{ . | absURL}}')"
                    ></figure>
                    {{ else }}
                    <div class="preview__footer">
                        {{- end }}
                        <div class="flex flex-col" style="overflow: hidden;">
                            <div class="postcard-title">
                                {{ .Title }} <span class="postcard-title__end">_</span>
                                {{- with .Params.subtitle }}
                                <div class="postcard-subtitle">
                                    <span>{{ . }}</span>
                                </div>
                                {{- end }}
                            </div>
                            <blockquote class="postcard-summary">
                                <p>{{ .Summary }}</p>
                            </blockquote>
                            <div style="justify-content: right">
                                <a href="{{ .Permalink }}">
                                <span class="post__tag button button_red">Continue reading >>></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="postcard-metadata">
                        <span>{{ partial "metadata" . }}</span>
                    </div>
                </div>
        </article>
    {{ end }}
</div>
