{{ define "main" }}
<article>
        <span class="postcard-header">
            {{ $content := .Title}}
            {{ with .Site.GetPage "tags" }}
            {{ if and (not (eq $content .LinkTitle)) }}
            {{- partial "content.html" (dict "content" $content "index" .LinkTitle) -}}
            {{ else }}
            {{- partial "content.html" (dict "content" $content) -}}
            {{ end }}
            {{ end }}
        </span>
</article>
{{ range .Pages.ByPublishDate.Reverse }}
<div class="list">
    <ul>
        <li><span class="color__tomato">></span> <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
    </ul>
</div>
{{ end }}
{{ end }}