<div class="post_meta">
    <span>{{ partial "sprite" (dict "icon" "calendar") }}</span>
    <span class="post_date">
      {{ .Date.Format "2006/01/02" }}
    </span>
    <span class="post_time"> · {{ .ReadingTime }} min read </span>
    {{- with .Params.tags -}}
    <span>
      {{- range . }}
        {{- $tag := urlize . -}}
        <a href='{{ absLangURL (printf "tags/%s/" $tag) }}' title="{{ . }}" class="post_tag button button_translucent">
          {{- . }}
        </a>
      {{- end }}
    </span>
    {{- end }}
</div>